{% macro render() %}

    {# new stuff from bootstrap 4#}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {#<h3 class="navbar-brand header-txt">Bethel University Writing Center</h3>#}
        <img class="logo" src="{{ asset('writing-center.png') }}" />

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link header-txt" href="{{ path('wc_homepage') }}">Home <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_TUTOR') %}
                        <a class="nav-link header-txt" href="{{ path('wc_message_center') }}">Message Center</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="nav-link header-txt" href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link header-txt" href="{{ path('logout') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

{% endmacro %}