{% if data is empty %}

  <div class="row-fluid">
    <b> There are no students with that username available to ban</b>
  </div>

{% endif %}

{% if data is not empty %}

  {# Manage current bans #}
  <div class="row-fluid">
    <div class="span2"><b>First Name</b></div>
    <div class="span2"><b>Last Name</b></div>
    <div class="span2"><b>Username</b></div>
    <div class="span2"></div>
    <div class="span2"></div>
  </div>
  {% set NamesCounter = 0 %}
  {% for key,value in data %}
    {% set rand = random(10000) %}
    <div class="row-fluid {{cycle( ['even', 'odd'], loop.index ) }}">
      <div class="span2" id="new-bans-username">{{Names[NamesCounter].firstName}}</div>
      <div class="span2" id="new-bans-username">{{Names[NamesCounter].lastName}}</div>
      <div class="span2" id="new-bans-username-{{rand}}">{{value.username}}</div>
      <div class="span2">
        <button class="btn btn-small btn-bans-new" id="new-bans-btn-{{rand}}"> Ban Student </button>
      </div>
      <div class="span3"></div>
    </div>
    {% set NamesCounter = NamesCounter + 1 %}
  {% endfor %}

{% endif %}