{% extends '::wc_base.html.twig' %}


{# TODO get stuff @ bottom tot work#}

{% block main_content %}

    <div>
        <h1>Change Role</h1>
        <p>Search for a user to change their role.</p>
    </div>
    <div>
        <div>
            <input type="text" class="form-control" id="first" placeholder="First Name..." aria-describedby="basic-addon1">
        </div>

        <br>

        <div>
            <input type="text" class="form-control" id="last" placeholder="Last Name..." aria-describedby="basic-addon1">
        </div>

        <br>

        <div>
            <input type="text" class="form-control" id="username" placeholder="Username..."
                   aria-describedby="basic-addon1">
        </div>

        <br>

        <div class="span3">
            <button class="btn btn-small btn-primary" id="clear-params">Clear search</button>
        </div>
    </div>
    </br>
    <div id="results"><b>Enter parameters to search for a user to promote</b>
        <p style="color:gray"></p>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#clear-params").click(function () {
                $("#first").val("");
                $("#last").val("");
                $("#username").val("");
            });
        });
    </script>

{% endblock %}

{% block footadd %}
    <script src="{{ asset('bundles/betheltutorlabs/js/centermanager.js') }}"></script>
{% endblock %}

{% block mustache %}
    {% verbatim %}
        <script id="promotion-table" type="text/html">
                <div class=""></div>
                <div class="span2"><b>First</b></div>
                <div class="span2"><b>Last</b></div>
                <div class="span2"><b>Username</b></div>
                <div class="span2"><b>Current Role</b></div>
                <div class="span2"></div>
                <div class="span1"></div>
        {{#users}}
          {{#.}}
            <div class="row-fluid">
                <div style="display: none" id="username{{id}}">{{username}}</div>
                <div class="span2">{{first_name}}</div>
                <div class="span2">{{last_name}}</div>
                <div class="span2">{{username}}</div>
                <div class="span2">
                    <div id="current-role{{id}}">
                        {{roles.0.name}}
                    </div>
                </div>
                <div class="span2" id="new-role{{id}}">{% endverbatim %} {{ select | raw }} {% verbatim %}</div>
                <div class="span1">
                    <button class="btn btn-small btn-promote btn-primary" id="promote-btn-{{id}}"> Update </button>
                </div>
            </div>
          {{/.}}
        {{/users}}
        </script>
    {% endverbatim %}
{% endblock %}