{% extends '::wc_base.html.twig' %}

{% block headadd %}
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href="{{asset('css/jquery.ui.timepicker.css')}}" type="text/css" rel="stylesheet">

  <!--FullCalendar Dependencies-->
  <link href="{{asset('css/fullcalendar.css')}}" type="text/css" rel='stylesheet' />
  <link href="{{asset('css/fullcalendar.print.css')}}" rel='stylesheet' media='print' />
  
  <!--FullCalendar-->
  <script src="{{asset('js/fullcalendar.min.js')}}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

        function getCalEventAsString(calEvent) {
            eventStart = new Date(calEvent.start);
            eventEnd = new Date(calEvent.end);
            student = calEvent.studentname;
            if(student == "")
                student = "No Student.";
            return 'Student: ' + student
                + "<br>Tutor: " + calEvent.tutorname
                + "<br>Date: " + eventStart.toLocaleDateString()
                + "<br>Start Time: " + eventStart.toLocaleTimeString()
                + "<br>End Time: " + eventEnd.toLocaleTimeString()
                + "<br>Sub requested: " + calEvent.sub
                + "<br>" + calEvent.multilingualTitle;
        }

        function appointmentClicked(calEvent, jsEvent, view) {
            console.log(calEvent.appointmentID);

            $( "#dialog-confirm" ).html(getCalEventAsString(calEvent)+"<br><br>Would you like to sub for this appointment?");

            $( "#dialog-confirm" ).dialog({
                buttons: {
                    Yes: function() {
                        // when the button is pressed, update the server
                        $.ajax({
                            type: "POST",
                            url: "{{path('wc_tutor_substitute_for_tutor_call')}}",
                            data: { 
                                appointmentID : calEvent.appointmentID
                            }
                        }).done(function ( data ) {
                            console.log(data);
                            if (data == "Success") {
                                $("#update-user-error-space").html(
                                    '<div class="alert alert-success"> Successfully substituted for the appointment:<br><br> ' 
                                    + getCalEventAsString(calEvent) +
                                    '</div>');
                            }
                            else {
                                $("#update-user-error-space").html(
                                    '<div class="alert alert-error"> Failed to update appointment: ' 
                                    + data + 
                                    '</div>');
                            }

                            $("#update-user-error-space").stop(true, true).show();
                            $('html, body').animate({
                                    // for whatever reason top doesn't make it go to the top... so -50 fixes the "scroll to" location
                                    scrollTop: $("#update-user-error-space").offset()-50
                                }, 400);


                            $('#calendar').fullCalendar('refetchEvents');
                        });
                        $( this ).dialog( "close" );
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        }
      
        var calendar = $('#calendar').fullCalendar({
            header:
            {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            editable: false,
            minTime: 7,
            eventSources: [
                "{{path('wc_tutor_substitute_for_tutor_load')}}"
            ],
            eventClick: appointmentClicked
        });
    });
</script>
{% endblock %}

{% block main_content %}
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Substitute for Tutor</h1>
        <p>Choose to sub for another tutor.</p>
    </div>

    <div id="update-user-error-space"></div>
    
    <div id="calendar"></div>
  </div>


    <div id="dialog-confirm" style="display:none" title="Substitute for Appointment">
        <p>
            Please confirm that you want to substitute for this Appointment.
        </p>
    </div>
{% endblock %}